:root {
    /* Fonts */
    --primary-font: 'Raleway', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
  
    /* Colors */
    --cl-primary-brand: 36 37 42;
    --cl-accent: 43 138 243; 
    --cl-light: 255 255 255; 
    --cl-dark: 18 19 22;
    --cl-subtle-text: 118 120 123; 
  }
  body {
    font-family: var(--secondary-font);
    color: #434455;
    background-color: #FFFFFF;
    margin: 0;
  }  

  .logo-header {
    font-family: "Raleway", sans-serif;
    font-size: 18px; 
    font-weight: 700; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none; 
  }
  
  .logo-header .logo-navy-blue {
    color: #2e2f42;
  }
  
  ul {
  list-style: none; 
  }

  header {
    background-color: rgb(var(--cl-light));
  }
  
  .header-nav {
    justify-content: space-between;
  }
  
  .header-nav-list {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42 ;
  }
  
  .header-nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #2e2f42;
  }
  
  .header-nav-link:hover,
  .header-nav-link:focus {
    color: #404bbf;
  }
  
  .header-contacts {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 0.3s;
  }
  
  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 0.3s; 
  }
  
  .contact-link:hover,
  .contact-link:focus, 
  .contact-link:active {
    color: #404bbf; 
  }
  .hero {
    background-color: #2e2f42;
  }
  
  .hero-title {
    color: #FFFFFF;
    font-family: var(--primary-font);
    font-size: 56px;
    line-height: 1.07;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .btn {
    font-size: 16px;
    font-weight: 500;
    color: rgb(var(--cl-light));
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover,
  .btn:focus {
    background-color: #404BBF;
  }
 
  .visually-hidden {
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  
  .values-list {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .values-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
  }
  
  .values-subtitle {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
    color: #2e2f42;
  }
  
  .values-desc {
    font-size: 1rem;
    line-height: 1.5;
    color: #434455;
  }
    

  .team {
    background-color: #F4F4FD;
  }
  
  .section-title {
    font-family: var(--primary-font);
    font-size: 36px;
    letter-spacing: 0.02em;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 1.11;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
  }
  
  .team-list {
    grid-template-columns: repeat(4, 1fr);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
  }
  
  .team-member {
    text-align: center;
    background-color: #FFFFFF;
  }
    
  .team-name {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 10px 0;
  }
  
  .team-role {
    font-size: 1rem;
    color: rgb(var(--cl-subtle-text));
  }
  .portfolio {
    text-align: center;
    line-height: 1.11;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    font-weight: 500;
  }
  
  .portfolio-title {
    font-family: var(--primary-font);
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 40px;
  }
  
  .portfolio-list {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .portfolio-item {
    text-align: left;
  }
  
  .portfolio-item-title {
    font-size: 20px;
    letter-spacing: 0.02em;
    margin: 10px 0;
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.2;

  }
  
  .portfolio-item-description {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
  
  }
  .footer {
    background-color: #2e2f42;
    color: rgb(var(--cl-light));
    text-align: left;
  }
  
  .logo-footer {
    font-family: "Raleway", sans-serif; 
    font-weight: 700; 
    font-size: 18px; 
    line-height: 1.17; 
    letter-spacing: 0.03em; 
    text-transform: uppercase; 
    color: #4d5ae5; 
    text-decoration: none; 
  }
    
  .logo-footer .cloud {
    color: #f4f4fd;
  }

  .footer-text {
    font-size: 1rem; 
    line-height: 1.5; 
    color: #F4F4FD; 
    letter-spacing: 0.02em;
  }
   